.btn {
    margin: 0.5rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid  lightgrey;
    border-radius: 0.3rem;
    background-color: #6a1b9a!important;
    color: white;
}

.btn:hover {
    opacity: 0.7;
}

a.btn {
    text-decoration: none;
}

.btn-primary{
    background-color: #0d47a1!important;
    color: white;
}

.btn-success {
    background-color: #00aa33!important;
}
a.btn-primary{
    background-color: #0d47a1!important;
    color: white;
}
