.card {
    width: 18rem;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
}
.card:hover {
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}

.card-header {
    border-radius: 5px;
    padding: 8px 4px;
    margin-bottom: 16px;
    background-color: #0d47a1;
    color: #9F9F9F;
}

.card-title {
    color: #FFF;
    font-size: 1.0em;
    text-align: center;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.card-body {

}

.card-footer {

}