.modal_container{
    display: inline-block;
}

.modal_trigger {
    margin: 1em;
    background: rgba(255,255,255,0);
    text-align: center;

}

a.button {
    font-size: 0.7em;
    padding: 4px 6px;
    background-color: #0d47a1;
    color: white;
    border: 1px solid #002171;
    border-radius: 0.25rem;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;

}

a:link, a:visited .button{
    text-decoration: none;
}
.button:hover {
    background: #002171;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    border-bottom: black 1px solid;
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: #9F9F9F 3px 2px 2px;
    font-size: 20px;
    text-decoration: none;
    padding: 0 5px 3px 5px;
    background-color: red;
    color: white;
}
.popup .close:hover {
    color: red;
    background-color: white;
    font-weight: bold;
}
.popup .modal_content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}