/*Complete*/
.pc-5x{
    padding: 5px ;
}

.pc-10x{
    padding: 10px ;
}

.pc-15x{
    padding: 15px ;
}

.pc-20x{
    padding:20px ;
}

.pc-25x{
    padding: 25px ;
}

.pc-30x{
    padding: 30px ;
}

/*Complete*/
/*TOP*/
.pt-5x{
    padding-top: 5px ;
}

.pt-10x{
    padding-top: 10px ;
}

.pt-15x{
    padding-top: 15px ;
}

.pt-20x{
    padding-top:20px ;
}

.pt-25x{
    padding-top: 25px ;
}

.pt-30x{
    padding-top: 30px ;
}
/*TOP*/
/*Bottom*/
.pb-5x{
    padding-bottom: 5px ;
}

.pb-10x{
    padding-bottom: 10px ;
}

.pb-15x{
    padding-bottom: 15px ;
}

.pb-20x{
    padding-bottom:20px ;
}

.pb-25x{
    padding-bottom: 25px ;
}

.pb-30x{
    padding-bottom: 30px ;
}
/*Bottom*/
/*Right*/
.pr-5x{
    padding: 5px ;
}

.pr-10x{
    padding-right: 10px ;
}

.pr-15x{
    padding-right: 15px ;
}

.pr-20x{
    padding-right:20px ;
}

.pr-25x{
    padding-right: 25px ;
}

.pr-30x{
    padding-right: 30px ;
}
/*Right*/
/*Left*/
.pl-5x{
    padding-left: 5px ;
}

.pl-10x{
    padding-left: 10px ;
}

.pl-15x{
    padding-left: 15px ;
}

.pb-20x{
    padding-left:20px ;
}

.pl-25x{
    padding-left: 25px ;
}

.pl-30x{
    padding-left: 30px ;
}
/*Left*/