.large-auto{
    width: auto;
}
.large-full{
    width:100%;
}

.large-75{
    width:75%
}

.large-half{
    width:50%
}

.large-40{
    width:40%
}

.large-30{
    width:30%
}
.large-25{
    width:25%
}

.large-20{
    width:20%
}

.large-15{
    width:15%
}

.large-10{
    width:10%
}
.large-5{
    width:5%
}

.large-1{
    width: 1%;
}

.w15r {
    width: 15rem;
}
